@import '../../styles/common.scss';

.videosListing {
  @include mainWidth;
  padding-top: 20px;
    & .video {
        display: flex;
        margin-bottom: 30px;

        &__thumbnail {
            border-radius: 2px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            margin-right: 20px;
            width: 275px;
            height: 155px;

            @media (max-width: 650px) {
                width: 200px;
                height: 130px;
                margin-right: 10px;
            }

            & img {
                height: 100%;
                object-fit: cover;

                @media (max-width: 650px) {
                    width: 200px;
                }
            }
        }
        &__details {
            @media (max-width: 650px) {
                margin-top: 20px;
            }
            h3 {
                font-size: 16px;
                color: $color-black;
                margin-bottom: 5px;
                cursor: pointer;
                font-weight: 600;
                transition: all 0.2s ease-in-out;
            }
        }
        &__subTitle {
            display: flex;
            margin-bottom: 10px;

            @media (max-width: 768px) {
                p:first-child {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 120px;
                }
            }

            p:last-child {
                margin-left: 10px;

                &::before {
                    content: "•";
                    margin-right: 10px;
                }
            }
        }
        &__description {
            font-size: 14px;
            color: $color-shadeOfGray;
            margin-bottom: 10px;
        }
    }
        & .channel {
            & .video__thumbnail {
                border-radius: 50%;
                width: 140px;
                min-width: 140px;
                height: 140px;
                overflow: hidden;

                & img {
                    @media (max-width: 650px) {
                        width: fit-content;
                    }
                }
                
            }
            & .video__details {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                & h3 , div {
                    flex : 1 100% 
                }
                
            }

    }
}